html {
    font-family: Bahnschrift, Arial, sans-serif;
    font-size: 16px;
    background-color: darkslategrey;
    padding: 0px;
    color: white;
}

body {
    text-align: center;
    padding: 0px;
}

header {
    background-image: url("../headerbackgroundimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    min-height: 15.625rem;
    display: flex;
    flex-direction: column;
    padding: 0px;
    
}

header img {
    margin: 0 auto;
  
}

nav {
    display: flex;
    justify-content: center;
    background-color: #233030;
}

nav li {
    display: inline;
    
    font-size: 1.5rem;
    margin: 0px 10px;
    
}

    nav li a {
        color: rgb(232, 70, 29);
        text-decoration: none;
    }

    .welcome {
        display: flex;
        height: 12.5rem;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
    }


#bikes {
    background-image: url("../bikebackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 24rem;
    margin: 0px;
}

.bikecontainer {
    margin: 0 10rem;
}
    .bikecontainer p {
        text-align: right;
    }

    .bikecontainer a{
        color: white;
    }
.bikeimages {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.bikecontainer h3 {
    text-align: left;
    padding-top: 3rem;
    font-size: 1.5rem;
}   

.bikeimages img {
    height: 12.5rem;
    width: 12.5rem;
    margin-top: 0.5rem;
}

#accessories {
    background-image: url("../accessoriesbackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 24rem;
    margin: 0px;
}
    
    
.accessoriescontainer {
    margin: 0 10rem;
}

.accessoriescontainer p {
    text-align: right;
}

.accessoriescontainer a {
    color: white;
}

.accessoriesimages {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.accessoriescontainer h3 {
    text-align: left;
    padding-top: 3rem;
    font-size: 1.5rem;
}

.accessoriesimages img {
    height: 12.5rem;
    width: 12.5rem;
    margin-top: 0.5rem;
}

.repairs {
    background-image: url("../repairsbackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 40rem;
    margin: 0px;
}

    .repairs {
    margin-top: 0rem;
}

.repaircontainer {
    margin: 0 10rem;
    
}

.repaircontainer h3 {
        text-align: left;
        padding-top: 3rem;
        font-size: 1.5rem;
    }

.repairdetails {
    display: flex;
    flex-flow: row wrap;
}

.repairdetails div {
    background-color: white;
    color: darkslategrey;
    justify-content: space-between;

      
}

#repair1 {
    flex: 1 1 10rem;
    text-align: left;
    padding: 0.4rem 0.8rem 0.4rem 0.2rem;
    margin: 0.5rem 0.5rem 0px 0px;
    align-items: top;
}
.repairdetails h4 {
    margin-left: 1.5rem;
}

#repair2 {
    flex: 1 1 10rem;
    text-align: left;
    padding: 0.4rem 0.8rem 0.4rem 0.2rem;
    margin: 0.5rem 0.5rem 0px 0px;
}

#repair3 {
    flex: 2 2 14rem;
    text-align: left;
    padding: 0.4rem 0.8rem 0.4rem 0.2rem;
    margin: 0.5rem 0.5rem 0px 0px;
}

    .teamcontainer {
    margin: 0 10rem;
}

.teamcontainer h3 {
    text-align: left;
    padding-top: 3rem;
    font-size: 1.5rem;
}


.team {
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.teamimages {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}


.teamimages img {
    height: 14rem;
    width: 14rem;
}

figure {
    text-align: center;
 
}

.more {
    margin-top: 1rem;
}

.morecontainer {
  
    margin: 0 10rem;
   
}

    .morecontainer h3 {
        text-align: left;
        padding-top: 3rem;
        font-size: 1.5rem;
    }

    .moreimages {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: stretch;
        flex-flow: row wrap;
        
    }

.moreimages img {
    width: 475px;
}

.moreimages iframe {
    width: 475px;
    
}

.text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
     
}

footer {
    background-color: #233030;
    text-align: left;
    height: 2.5rem;
    padding: 0.4rem;
    margin-top: 2rem;
}
    .mobile {
    display: none;
}